[submodule "src/dependencies/GameNetworkingSockets"]
	path = src/dependencies/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "src/dependencies/protobuf"]
	path = src/dependencies/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
